@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#root{
  height: 100%;
  
}

body{
  background: linear-gradient(to bottom right, #055b94, #000000);
  color: theme('colors.textColor');
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

